description = "Blank layout"

[localePicker]
forceUrl = 1

[RainLab\User\Components\Account account]
paramCode = "code"
forceSecure = 0

[resetPassword]
paramCode = "code"

[session]
security = "all"
==
<!DOCTYPE html>
<html lang="{{currentLang}}" {% if currentLang == 'ar'%}direction="rtl" dir="rtl" style="direction: rtl"{% endif %} >

    <!-- begin::Head -->
    <head><!--begin::Base Path (base relative path for assets of this page) -->
        <base href="{{ 'assets/admin'|theme }}"><!--end::Base Path -->
        <meta charset="{{ website_charset }}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ this.page.title|__ }} | {% if settings.company.title %}{{ settings.company.title|__ }}{% else %}{{ settings.company.title }}{% endif %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<meta name="keywords" content="{% if settings.company.keywords %}{{ settings.company.keywords|__ }}{% else %}{{ settings.company.keywords }}{% endif %}" />
    	<meta name="description" content="{% if settings.company.description %}{{ settings.company.description|__ }}{% else %}{{ settings.company.description }}{% endif %}">
        <meta name="author" content=""/>

        <link rel="icon" href="{% if settings.favicon %}{{ settings.favicon.path }}{% else %}./admin/media/logos/logo.ico{% endif %}" type="image/png">
        <link rel="apple-touch-icon" href="{% if settings.favicon %}{{ settings.favicon.path }}{% else %}./admin/media/logos/logo.ico{% endif %}"/>
        <link rel="apple-touch-icon" sizes="72x72" href="{% if settings.favicon %}{{ settings.favicon.thumb(72,72) }}{% else %}./admin/media/logos/logo.ico{% endif %}"/>
        <link rel="apple-touch-icon" sizes="114x114" href="{% if settings.favicon %}{{ settings.favicon.thumb(114,114) }}{% else %}./admin/media/logos/logo.ico{% endif %}"/>
        <link rel="apple-touch-icon" sizes="144x144" href="{% if settings.favicon %}{{ settings.favicon.thumb(144,144) }}{% else %}./admin/media/logos/logo.ico{% endif %}"/>

        <!--begin::Fonts -->
        <link href="//fonts.googleapis.com/css?family=Nunito|Roboto" rel="stylesheet">
        <!--end::Fonts -->


        <!--begin::Global Theme Styles(used by all pages) -->
            <link href="./admin/vendors/global/vendors.bundle.css" rel="stylesheet" type="text/css" />
            {% if currentLang == 'ar'%}
                <link href="./admin/css/demo1/style.bundle.rtl.css" rel="stylesheet" type="text/css" />
                <link href="//fonts.googleapis.com/css?family=Cairo:300,400,600,700" rel="stylesheet">
                <link href="./admin/css/demo1/style.bundle.rtl.css" rel="stylesheet" type="text/css" />
                <link href="./admin/css/demo1/pages/login/login-1.rtl.css" rel="stylesheet" type="text/css" />
            {% else %}
                <link href="./admin/css/demo1/style.bundle.css" rel="stylesheet" type="text/css" />
                <link href="./admin/css/demo1/pages/login/login-1.css" rel="stylesheet" type="text/css" />
            {% endif %}
        <!--end::Global Theme Styles -->

        <!--begin::Layout Skins(used by all pages) -->
        <!--end::Layout Skins -->
        {% styles %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="//www.googletagmanager.com/gtag/js?id=UA-25459653-14"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-25459653-14');
        </script>

    </head>
    <body  class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--fixed kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading"  >

        {% page %}
        <script>
            var KTAppOptions = {
                "colors":{
                    "state":{
                        "brand":"#5d78ff",
                        "light":"#ffffff",
                        "dark":"#282a3c",
                        "primary":"#5867dd",
                        "success":"#34bfa3",
                        "info":"#36a3f7",
                        "warning":"#ffb822",
                        "danger":"#fd3995"
                    },
                    "base":{
                        "label":[
                            "#c5cbe3",
                            "#a1a8c3",
                            "#3d4465",
                            "#3e4466"
                        ],
                        "shape":[
                            "#f0f3ff",
                            "#d9dffa",
                            "#afb4d4",
                            "#646c9a"
                        ]
                    }
                }
            };
        </script>
        <!-- end::Global Config -->

        <!--begin::Global Theme Bundle(used by all pages) -->
           <script src="./admin/vendors/global/vendors.bundle.js" type="text/javascript"></script>
           <script src="./admin/js/demo1/scripts.bundle.js" type="text/javascript"></script>
        <!--end::Global Theme Bundle -->

        <!--begin::Page Scripts(used by this page) -->
        {% framework extras %}
        {% scripts %}
        <script type="text/javascript">
            KTUtil.ready(function () {
                $('body').on('click', '.locale', function(e){
                    e.preventDefault();
                    var selected = $(this).attr('rel');
                    if(selected != ''){
                        $.request('onSwitchLocale', {
                            data: {locale: selected}
                        });
                    }
                });
            });
        </script>
        <!--end::Page Scripts -->
    </body>
    <!-- end::Body -->
</html>
