
.fancyslider__slideshow {overflow:hidden; background-color:#699100; -webkit-transition: background-color .4s cubic-bezier(0.680, 0, 0.265, 1); transition: background-color .4s cubic-bezier(0.680, 0, 0.265, 1);
	background-image: -webkit-radial-gradient(40.87% 43.25%, circle, rgba(255,255,255,0.12), transparent 70%), radial-gradient(circle at 65.72% 51.68%, rgba(255,255,255,0.12), transparent 100%), radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 100%);
	background-image: radial-gradient(circle at 40.87% 43.25%, rgba(255,255,255,0.12), transparent 70%),radial-gradient(circle at 65.72% 51.68%, rgba(255,255,255,0.12), transparent 100%),radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 100%);
}
.fancyslider__slideshow .fake-loading {z-index: 2;}
.fancyslider__slideshow .kl-slideshow-inner {padding-top: 130px; padding-bottom: 0;}

/* hg_fancy_slider Necessary Styles
*********************************/
.fancyslider__slideshow .hg_fancy_slider_container {width: 100%; margin: 0; padding: 0; height: 620px;}

.hg_fancy_slider_container,
.hg_fancy_slider-itemimg {height:600px;}

.hg_fancy_slider-link {display: block;}

.hg_fancy_carousel-nav {position: absolute; left: 50%; margin-left: -40px; bottom: -25px; width: 40px; height: 90px; padding: 15px 5px; transform: rotate(90deg);}
.hg_fancy_carousel-nav .hgSlickNav-arr,
.hg_fancy_carousel-nav .hgSlickNav-arr svg {width: 30px; height: 30px;}
.hg_fancy_carousel-nav polyline {stroke: rgba(255, 255, 255, 0.36);}
.hgSlickNav-arr.hgSlickNav-next,
.hgSlickNav-arr.hgSlickNav-prev {cursor: pointer; display: block; -webkit-transition: -webkit-transform .2s ease-out, opacity .2s ease-out; -webkit-transition: opacity .2s ease-out, -webkit-transform .2s ease-out; transition: opacity .2s ease-out, -webkit-transform .2s ease-out; transition: transform .2s ease-out, opacity .2s ease-out; transition: transform .2s ease-out, opacity .2s ease-out, -webkit-transform .2s ease-out;}

.hgSlickNav-arr.hgSlickNav-next:hover polyline,
.hgSlickNav-arr.hgSlickNav-prev:hover polyline {stroke: rgba(255, 255, 255, 0.6);}
.hgSlickNav-arr.hgSlickNav-next:active polyline,
.hgSlickNav-arr.hgSlickNav-prev:active polyline {color: #fff;}

.controls-inside .hg_fancy_carousel-nav {bottom: 0; z-index: 2; background: rgba(0, 0, 0, 0.36); border-radius: 3px;}
.hg_fancy_carousel-pagination {position: absolute; text-align: center; line-height: 1; bottom: -20px; z-index: 2; width: 100%;}
.controls-inside .hg_fancy_carousel-pagination {bottom: 25px;}