#divdropper{
    background:  #212529 !important;
    color: #fff !important;
    border: none;
}

#divdropper > a{
    color: rgba(255, 255, 255, 0.5);
}
#divdropper > a:hover{
    color: #fff;
    background: rgba(255, 255, 255, 0.5);
}

.cusactive{
    border-left: 3px solid #dc3545;
    color: #fff !important;
}

.main-color-bg{
    background: #343a40 !important;
    border: none
}

.login-div{
    border: 1px solid teal;
    width:100%;
    margin-bottom:15px;
}

.form-div{
    border-radius: 30px;
    padding:15px;
    margin-top:10px;
    margin-right:10px;
    background: teal;
}

.admin-form-div{
    border-radius: 30px;
    padding:15px;
    margin-top:10px;
    margin-right:10px;
    background: teal;
}
.label{
    color:#fff;
    font-weight:600;
}

.admin-com{
    font-style:italic;
    color:#fff;
    text-align:center
}

.tabled{
    font-size: 11px !important;
    font-family: inherit;
    width:100% !important;
    text-align: center;
}

.isRed{
    color: red;
    font-weight: bold;
}

.isGreen{
    color: green;
    font-weight: bold;
}

.myselect{
    border-radius: 30px !important;
}



