title = "Transaction Print"
url = "/dashboard/transactions/:id/print"
layout = "blank"
is_hidden = 0
role = 0
permission = 0
anonymous_only = 0
logged_only = 1
child_of = "dashboard/transactions"
menu_breadcrumb = "transaction"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[viewBag]
==
<?php
function onStart(){
    if(!Auth::getUser()->hasUserPermission(["transaction"],'r')) {
        \Flash::error($this['theme_lang']['not_allowed']);
    }

    $this['item']      =   $item  =   \Spot\Shipment\Models\Payment::find($this->param('id'));
    if(!$item){
        \Flash::error($this['theme_lang']['404']);
        return Redirect::to('dashboard/shipments');
    }
}
?>
==
<div id="page-wrap">
    <table width="100%">
        <tr>
            <td style="border: 0;  text-align: left" width="18%">
    			<div id="logo" style="text-align:left">
    				<img src='{% if settings.logo %}{{ settings.logo.path }}{% else %}./admin/media/logos/logo.svg{% endif %}' style="max-height:70px">
                </div>
            </td>
			<td style="border: 0;  text-align: center" width="56%">
				{% if settings.company.tax_number and settings.company.tax_number != '' and settings.company.tax_number != '-' %}{{'Tax'|__}}: {{ settings.company.tax_number }} </br>{% endif %}
				{% if settings.company.company_phone %}{{'Phone'|__}}: {{ settings.company.company_phone }} </br>{% endif %}
				{% if settings.company.primary_email %}{{'Email'|__}}: {{ settings.company.primary_email }} </br>{% endif %}
				{% if settings.company.address %}{{'Street'|__}}: {{ settings.company.address }}{% endif %}
            </td>
            <td style="border: 0;  text-align: center" width="48%" id="barcodeHTML">
                </br>
                <div class="clearfix"></div>
                <p><strong>{{'Transaction ID'|__}}:</strong> {{item.id}}</p>
			</td>
        </tr>
    </table>
    <hr>
    </br>
    <div id="customer">

        <table id="meta">
            <tr>
                <td rowspan="5" style="border: 1px solid white; border-{% if currentLang == 'ar' %}left{% else %}right{% endif %}: 1px solid black;text-align: {% if currentLang == 'ar' %}right{% else %}left{% endif %}" width="62%">

                {% if item.other or item.user or item.branch %}
                    <strong>{{'Bill to'|__}}</strong> </br>
    				<table id="items">
    					<b>{% if item.type == 1 %}{% if item.other %}{{item.other}}{% else %}{{item.user.name}}{% endif %}{% else %}{{item.branch.name}}{% endif %}</b></br> </br>
                        {% if item.type == 1 %}
        					{{item.user.mobile}} </br>
        					{{item.user.email}}
                        {% else %}
        					{{item.branch.mobile}} </br>
        					{{item.branch.phone}}
                        {% endif %}
    				</table>
                {% endif %}
				</td>
            </tr>
            <tr>
                <td class="meta-head"><p style="color:white;">{{'Transaction date'|__}}</p></td>
                <td>{{item.date|date(settings.dateformat)}}</td>
            </tr>
            <tr>
                <td class="meta-head"><p style="color:white;">{{'ID'|__}}</p></td>
                <td><b>{{item.id}}</b></td>
            </tr>
        </table>
    </div>
    <table id="items">
        <tr>
            <th align="center"><p style="color:white;">{{'Type'|__}}</p></th>
            <th width="48%"><p style="color:white;">{{'Description'|__}}</p></th>
            <th {% if currentLang == 'ar' %}align="left"{% else %}align="right"{% endif %}><p style="color:white;">{{'Amount'|__}}</p></th>
        </tr>
        <tr>
            <th align="center" style="background:#fff"><p>{{item.payment_type|replace({'_':' '})|capitalize|__}}</p></th>
            <th width="48%" style="background:#fff"><p>{% if item.item_id %}{{'Shipment'|__}} <a href="{{url('dashboard/shipments')}}/{{item.item_id}}/view">#{{item.item_id}}</a>{% endif %}</p></th>
            <th {% if currentLang == 'ar' %}align="left"{% else %}align="right"{% endif %} style="background:#fff"><p>{{item.amount|currency}}</p></th>
        </tr>


		<tr>
			<td {% if currentLang == 'ar' %}align="left"{% else %}align="right"{% endif %} colspan="2" class="total-line">{{'Sub Total'|__}}</td>
			<td  align="right" class="total-value"><div id="total"><span class="price"> {{item.amount}} </span> </div></td>
		</tr>
		<tr>
			<td {% if currentLang == 'ar' %}align="left"{% else %}align="right"{% endif %} colspan="2" class="total-line balance"><p style="color:white;">{{'Grand total'|__}} </p></td>


			<td align="right" class="total-value balance"><div class="due"> <p style="color:white;"><b>{{item.amount|currency}}</b></p></div></td>
		</tr>
    </table>

    <!--    end related transactions -->

        <div id="terms">
            <h5>{{'TERMS'|__}}</h5>
			 <table id="related_transactions" style="width: 100%">
				<p align="justify">{{settings.invoice.terms}}</p>
			</table>
			</br></br></br></br>
			<table id="signing">
				<tr class="noBorder">
					<td align="center"><h4></h4></td>
					<td align="center"><h4></h4></td>
				</tr>
				<tr class="noBorder">
					<td align="center">{{settings.invoice.signing_company|capitalize|__}}</td>
					<td align="center">{{settings.invoice.signing_customer|capitalize|__}}</td>
				</tr>
			</table>
        </div>
</div>

{% put styles %}
    <style>
    body { background: #fff}
        * { margin: 0; padding: 0; }
        body {
            font: 14px/1.4 Helvetica, Arial, sans-serif;
        }
        #page-wrap { width: 800px; margin: 0 auto; }

        textarea { border: 0; font: 14px Helvetica, Arial, sans-serif; overflow: hidden; resize: none; }
        table { border-collapse: collapse; }
        table td, table th { border: 1px solid black; padding: 5px; }
		tr.noBorder td {
		  border: 0;
		}

		td.Border td {
		  border: 1px;
		}
        {% if currentLang == 'ar' %}
            p,b, strong{
                font-family: Cairo;
                font-weight: bold;
            }
        {% endif %}

        #header { height: 15px; width: 100%; margin: 20px 0; background: #222; text-align: center; color: white; font: bold 15px Helvetica, Sans-Serif; text-decoration: uppercase; letter-spacing: 20px; padding: 8px 0px; }

        #address { width: 250px; height: 150px; float: left; }
        #customer { overflow: hidden; }
        #barcodeHTML  { text-align: center;}
        #barcodeHTML > div { margin:auto}
        #customer-title { font-size: 20px; font-weight: bold; float: left; }

        #meta { margin-top: 1px; width: 100%; float: right; }
        #meta td { text-align: right;  }
        #meta td.meta-head { text-align: left; background: #6c757d; }
        #meta td textarea { width: 100%; height: 20px; text-align: right; }

		#signing { margin-top: 0px; width: 100%; float: center; }
        #signing td { text-align: center;  }
        #signing td.signing-head { text-align: center; background: #eee; }
        #signing td textarea { width: 100%; height: 20px; text-align: center; }

        #items { clear: both; width: 100%; margin: 30px 0 0 0; border: 1px solid black; }
        #items th { background: #6c757d; }
        #items textarea { width: 80px; height: 50px; }
        #items tr.item-row td {  vertical-align: top; }
        #items td.description { width: 300px; }
        #items td.item-name { width: 175px; }
        #items td.description textarea, #items td.item-name textarea { width: 100%; }
        #items td.total-line { border-right: 0; text-align: {% if currentLang == 'ar' %}left{% else %}right{% endif %}; }
        #items td.total-value { border-left: 0; padding: 10px; }
        #items td.total-value textarea { height: 20px; background: none; }
        #items td.balance { background: #6c757d; }
        #items td.blank { border: 0; }

        #terms { text-align: center; margin: 20px 0 0 0; }
        #terms h5 { text-transform: uppercase; font: 13px Helvetica, Sans-Serif; letter-spacing: 10px; border-bottom: 1px solid black; padding: 0 0 8px 0; margin: 0 0 8px 0; }
        #terms textarea { width: 100%; text-align: center;}



        .delete-wpr { position: relative; }
        .delete { display: block; color: #000; text-decoration: none; position: absolute; background: #EEEEEE; font-weight: bold; padding: 0px 3px; border: 1px solid; top: -6px; left: -22px; font-family: Verdana; font-size: 12px; }

        /* Extra CSS for Print Button*/
        .button {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            overflow: hidden;
            margin-top: 20px;
            padding: 12px 12px;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-transition: all 60ms ease-in-out;
            transition: all 60ms ease-in-out;
            text-align: center;
            white-space: nowrap;
            text-decoration: none !important;

            color: #fff;
            border: 0 none;
            border-radius: 4px;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.3;
            -webkit-appearance: none;
            -moz-appearance: none;

            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 160px;
            -ms-flex: 0 0 160px;
            flex: 0 0 160px;
        }
        .button:hover {
            -webkit-transition: all 60ms ease;
            transition: all 60ms ease;
            opacity: .85;
        }
        .button:active {
            -webkit-transition: all 60ms ease;
            transition: all 60ms ease;
            opacity: .75;
        }
        .button:focus {
            outline: 1px dotted #959595;
            outline-offset: -4px;
        }

        .button.-regular {
            color: #202129;
            background-color: #edeeee;
        }
        .button.-regular:hover {
            color: #202129;
            background-color: #e1e2e2;
            opacity: 1;
        }
        .button.-regular:active {
            background-color: #d5d6d6;
            opacity: 1;
        }

        .button.-dark {
            color: #FFFFFF;
            background: #333030;
        }
        .button.-dark:focus {
            outline: 1px dotted white;
            outline-offset: -4px;
        }

        @media print
        {
            .no-print, .no-print *
            {
                display: none !important;
            }
        }
		h4 {
			border-bottom: 1px solid black;
		}

    </style>
{% endput %}
{% put scripts %}
<script type="text/javascript">
KTUtil.ready(function () {
    window.print();
    //setTimeout(function(){window.close();},10);
});
</script>
{% endput %}
